{% extends "base.html" %}

{% block title %}{{ auction.item_name }} Auction{% endblock %}

{% block content %}
<div class="text-center">
    <img src="{{ url_for('static', filename='uploads/rolexwatch.avif') }}" alt="{{ auction.item_name }}" class="img-fluid" style="max-width: 25%; height: auto;" />
    <h1>{{ auction.item_name }}</h1>
    <h3>Current Bid: ${{ auction.highest_bid }}</h3>
    <h4>Highest Bidder: {{ auction.highest_bidder }}</h4>
    <p>Time of Highest Bid: {{ auction.highest_bid_time }}</p>

    <form id="bid_form" action="{{ url_for('place_bid_route') }}" method="POST">
        <input type="hidden" name="auction_id" value="{{ auction._id }}">
        <input type="text" name="user" placeholder="Your Name">
        <input type="number" name="bid_amount" placeholder="Your Bid">
        <button type="submit" class="btn btn-success mt-2">Place Bid</button>
    </form>

    <h2>Bid History</h2>
    <ul>
        {% for bid in auction.bid_history %}
        <li>{{ bid.user }} bid ${{ bid.amount }} at {{ bid.time }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
